{:paths ["scripts" "src/clj" "src/cljc" "src/cljs" "test/clj" "test/cljs" "sass" "resources"]
 :deps {cheshire {:mvn/version "5.8.1"}

				clj-commons/citrus {:mvn/version "3.2.3"}

				com.cognitect.aws/api {:mvn/version "0.8.305"}

				com.cognitect.aws/endpoints {:mvn/version "1.1.11.553"}
				ch.qos.logback/logback-classic {:mvn/version "1.3.0-alpha4"}
				com.datomic/client-pro {:mvn/version "0.8.28"}
				com.datomic/client-cloud {:mvn/version "0.8.71"}

				hiccup {:mvn/version "2.0.0-alpha1"}
				io.pedestal/pedestal.jetty {:mvn/version "0.5.5"}

				io.pedestal/pedestal.service {:mvn/version "0.5.5"}

				medley {:mvn/version "1.2.0"}
				org.clojure/core.async {:mvn/version "0.4.490"}
				org.clojure/clojure {:mvn/version "1.10.1"}
				org.clojure/clojurescript {:mvn/version "1.10.520"}
				org.clojure/spec.alpha {:mvn/version "0.2.176"}

				haslett {:mvn/version "0.1.6"}
				com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
				com.bhauman/figwheel-main {:mvn/version "0.2.0"}
				funcool/bide {:mvn/version "1.6.0"}

				cljs-react-material-ui {:local/root "../../cljs/cljs-react-material-ui"}
				cljs-bean {:mvn/version "1.5.0"}

				uix.core {:git/url "https://github.com/roman01la/uix.git"
										 :deps/root "core"
										 :sha "53f26f5facbac11da55bf0445752c00fbcb7ef44"}
				uix.dom {:git/url "https://github.com/roman01la/uix.git"
								 :deps/root "dom"
								 :sha "53f26f5facbac11da55bf0445752c00fbcb7ef44"}
				uix.rn {:git/url "https://github.com/roman01la/uix.git"
								:deps/root "rn"
								:sha "53f26f5facbac11da55bf0445752c00fbcb7ef44"}

				ring/ring-codec {:mvn/version "1.1.2"}
				buddy {:mvn/version "2.0.0"}
				}

 :mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}

 :aliases {:dev {:extra-paths ["src/dev"]
								 :extra-deps {}}
					 :fig {:extra-deps {}
								 :extra-paths ["target"]}
					 :build {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}
					 :min {:main-opts ["-m" "figwheel.main" "-O" "advanced" "-bo" "dev"]}
					 :test {:main-opts ["-m" "figwheel.main" "-co" "test.cljs.edn" "-m" client.test-runner]}}
 }
