{:paths ["scripts" "src/clj" "src/cljc" "src/cljs" "test/clj" "test/cljs" "sass" "resources"]
 :deps {cheshire {:mvn/version "5.8.1"}

				clj-time {:mvn/version "0.15.2"}
				clojure.java-time {:mvn/version "0.3.2"}
				com.cognitect.aws/api {:mvn/version "0.8.305"}

				com.cognitect.aws/endpoints {:mvn/version "1.1.11.553"}
				ch.qos.logback/logback-classic {:mvn/version "1.3.0-alpha4"}
				com.datomic/client-pro {:mvn/version "0.9.43"}
				com.datomic/client-cloud {:mvn/version "0.8.83"}

				fipp {:mvn/version "0.6.22"}
				hiccup {:mvn/version "2.0.0-alpha1"}
				io.pedestal/pedestal.jetty {:mvn/version "0.5.7"}
				io.pedestal/pedestal.service {:mvn/version "0.5.7"}

				medley {:mvn/version "1.2.0"}
				org.clojure/core.async {:mvn/version "0.4.490"}
				org.clojure/clojure {:mvn/version "1.10.1"}
				org.clojure/clojurescript {:mvn/version "1.10.520"}
				org.clojure/spec.alpha {:mvn/version "0.2.176"}
				org.clojure/tools.logging {:mvn/version "1.0.0"}

				haslett {:mvn/version "0.1.6"}

				cljs-bean {:mvn/version "1.5.0"}

				uix.core {:git/url "https://github.com/roman01la/uix.git"
									:deps/root "core"
									:sha "6e06ec216e9fed86d1875877800d468f6d099825"}
				uix.dom {:git/url "https://github.com/roman01la/uix.git"
								 :deps/root "dom"
								 :sha "6e06ec216e9fed86d1875877800d468f6d099825"}

				ring/ring-codec {:mvn/version "1.1.2"}
				buddy {:mvn/version "2.0.0"}
				thheller/shadow-cljs {:mvn/version "2.8.92"}
				time-literals {:mvn/version "0.1.3"}
				}

 :mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}

 :aliases {:dev {:extra-paths ["src/dev"]
								 :extra-deps {}}
					 :shadow {:main-opts ["-m" "shadow.cljs.devtools.cli"]}
					 ;:build {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}
					 ;:min {:main-opts ["-m" "figwheel.main" "-O" "advanced" "-bo" "dev"]}
					 ;:test {:main-opts ["-m" "figwheel.main" "-co" "test.cljs.edn" "-m" client.test-runner]}
					 }
 }
