;; io.rkn/confirmity configuration
{:initial-config
 {:txes [[{:db/ident :piecename/red-soldier}
					{:db/ident :piecename/red-cannon}
					{:db/ident :piecename/red-chariot}
					{:db/ident :piecename/red-horse}
					{:db/ident :piecename/red-minister}
					{:db/ident :piecename/red-guard}
					{:db/ident :piecename/red-marshal}

					{:db/ident :piecename/black-private}
					{:db/ident :piecename/black-catapult}
					{:db/ident :piecename/black-chariot}
					{:db/ident :piecename/black-horse}
					{:db/ident :piecename/black-elephant}
					{:db/ident :piecename/black-guard}
					{:db/ident :piecename/black-general}

					{:db/ident :piecetype/soldier}
					{:db/ident :piecetype/cannon}
					{:db/ident :piecetype/chariot}
					{:db/ident :piecetype/horse}
					{:db/ident :piecetype/elephant}
					{:db/ident :piecetype/guard}
					{:db/ident :piecetype/general}

					{:db/ident :player/red}
					{:db/ident :player/black}

					{:db/ident :location/a1}
					{:db/ident :location/a2}
					{:db/ident :location/a3}
					{:db/ident :location/a4}
					{:db/ident :location/a5}
					{:db/ident :location/a6}
					{:db/ident :location/a7}
					{:db/ident :location/a8}
					{:db/ident :location/a9}
					{:db/ident :location/a10}

					{:db/ident :location/b1}
					{:db/ident :location/b2}
					{:db/ident :location/b3}
					{:db/ident :location/b4}
					{:db/ident :location/b5}
					{:db/ident :location/b6}
					{:db/ident :location/b7}
					{:db/ident :location/b8}
					{:db/ident :location/b9}
					{:db/ident :location/b10}

					{:db/ident :location/c1}
					{:db/ident :location/c2}
					{:db/ident :location/c3}
					{:db/ident :location/c4}
					{:db/ident :location/c5}
					{:db/ident :location/c6}
					{:db/ident :location/c7}
					{:db/ident :location/c8}
					{:db/ident :location/c9}
					{:db/ident :location/c10}

					{:db/ident :location/d1}
					{:db/ident :location/d2}
					{:db/ident :location/d3}
					{:db/ident :location/d4}
					{:db/ident :location/d5}
					{:db/ident :location/d6}
					{:db/ident :location/d7}
					{:db/ident :location/d8}
					{:db/ident :location/d9}
					{:db/ident :location/d10}

					{:db/ident :location/e1}
					{:db/ident :location/e2}
					{:db/ident :location/e3}
					{:db/ident :location/e4}
					{:db/ident :location/e5}
					{:db/ident :location/e6}
					{:db/ident :location/e7}
					{:db/ident :location/e8}
					{:db/ident :location/e9}
					{:db/ident :location/e10}

					{:db/ident :location/f1}
					{:db/ident :location/f2}
					{:db/ident :location/f3}
					{:db/ident :location/f4}
					{:db/ident :location/f5}
					{:db/ident :location/f6}
					{:db/ident :location/f7}
					{:db/ident :location/f8}
					{:db/ident :location/f9}
					{:db/ident :location/f10}

					{:db/ident :location/g1}
					{:db/ident :location/g2}
					{:db/ident :location/g3}
					{:db/ident :location/g4}
					{:db/ident :location/g5}
					{:db/ident :location/g6}
					{:db/ident :location/g7}
					{:db/ident :location/g8}
					{:db/ident :location/g9}
					{:db/ident :location/g10}

					{:db/ident :location/h1}
					{:db/ident :location/h2}
					{:db/ident :location/h3}
					{:db/ident :location/h4}
					{:db/ident :location/h5}
					{:db/ident :location/h6}
					{:db/ident :location/h7}
					{:db/ident :location/h8}
					{:db/ident :location/h9}
					{:db/ident :location/h10}

					{:db/ident :location/i1}
					{:db/ident :location/i2}
					{:db/ident :location/i3}
					{:db/ident :location/i4}
					{:db/ident :location/i5}
					{:db/ident :location/i6}
					{:db/ident :location/i7}
					{:db/ident :location/i8}
					{:db/ident :location/i9}
					{:db/ident :location/i10}

					{:db/ident :board/starting}]

				 [{:db/ident :disposition/piece
					 :db/valueType :db.type/ref
					 :db/cardinality :db.cardinality/one}

					{:db/ident :disposition/location
					 :db/valueType :db.type/ref
					 :db/cardinality :db.cardinality/one}

					{:db/ident :piece/type
					 :db/valueType :db.type/ref
					 :db/cardinality :db.cardinality/one}

					{:db/ident :piece/player
					 :db/valueType :db.type/ref
					 :db/cardinality :db.cardinality/one}

					{:db/ident :location/player
					 :db/valueType :db.type/ref
					 :db/cardinality :db.cardinality/one}

					{:db/ident :location/palace
					 :db/valueType :db.type/boolean
					 :db/cardinality :db.cardinality/one}

					{:db/ident :location/x
					 :db/valueType :db.type/long
					 :db/cardinality :db.cardinality/one}

					{:db/ident :location/y
					 :db/valueType :db.type/long
					 :db/cardinality :db.cardinality/one}

					{:db/ident :location/north
					 :db/valueType :db.type/ref
					 :db/cardinality :db.cardinality/one}
					{:db/ident :location/south
					 :db/valueType :db.type/ref
					 :db/cardinality :db.cardinality/one}
					{:db/ident :location/east
					 :db/valueType :db.type/ref
					 :db/cardinality :db.cardinality/one}
					{:db/ident :location/west
					 :db/valueType :db.type/ref
					 :db/cardinality :db.cardinality/one}
					{:db/ident :player/forward
					 :db/valueType :db.type/ref
					 :db/cardinality :db.cardinality/one}

					{:db/ident :board/disposition
					 :db/valueType :db.type/ref
					 :db/isComponent true
					 :db/cardinality :db.cardinality/many}


					{:db/ident :board/ident-218
					 :db/valueType :db.type/bigint
					 :db/unique :db.unique/identity
					 :db/cardinality :db.cardinality/one
					 :db/doc "uniquely describes the board layout in 218 bit bigint"}

					{:db/ident :board/moves-computed?
					 :db/valueType :db.type/boolean
					 :db/cardinality :db.cardinality/one}

					{:db/ident :board/winner
					 :db/valueType :db.type/ref
					 :db/cardinality :db.cardinality/one
					 :db/doc "reference to the player who won"}

					{:db/ident :board/loser
					 :db/valueType :db.type/ref
					 :db/cardinality :db.cardinality/one
					 :db/doc "reference to the player who lost"}

					{:db/ident :move/aggregation
					 :db/valueType :db.type/ref
					 :db/isComponent true
					 :db/cardinality :db.cardinality/many
					 :db/doc "arrange moves by direction of travel; that way we can draw nice graphics"}

					{:db/ident :move/ordering
					 :db/valueType :db.type/long
					 :db/cardinality :db.cardinality/one
					 :db/doc "orders by direction of travel"}

					{:db/ident :move/start-board
					 :db/valueType :db.type/ref
					 :db/cardinality :db.cardinality/one}

					{:db/ident :move/end-board
					 :db/valueType :db.type/ref
					 :db/cardinality :db.cardinality/one}

					{:db/ident :move/piece-moved
					 :db/valueType :db.type/ref
					 :db/cardinality :db.cardinality/one}

					{:db/ident :move/piece-taken
					 :db/valueType :db.type/ref
					 :db/cardinality :db.cardinality/one}

					{:db/ident :move/start-location
					 :db/valueType :db.type/ref
					 :db/cardinality :db.cardinality/one}

					{:db/ident :move/end-location
					 :db/valueType :db.type/ref
					 :db/cardinality :db.cardinality/one}

					{:db/ident :move/checked-by
					 :db/valueType :db.type/ref
					 :db/cardinality :db.cardinality/one
					 :db/doc "ref to location that would put us into check"}

					{:db/ident :move/illegal?
					 :db/valueType :db.type/keyword
					 :db/cardinality :db.cardinality/one
					 :db/doc "describes why this move is illegal"}

					{:db/ident :move/flying-general?
					 :db/valueType :db.type/boolean
					 :db/cardinality :db.cardinality/one
					 :db/doc "illegal due to flying general?"}

					{:db/ident :game/uuid
					 :db/valueType :db.type/uuid
					 :db/cardinality :db.cardinality/one}

					{:db/ident :game/moves
					 :db/valueType :db.type/ref
					 :db/isComponent true
					 :db/cardinality :db.cardinality/many}
					]
				 [{:db/id :piecename/red-soldier
					 :piece/type :piecetype/soldier
					 :piece/player :player/red}
					{:db/id :piecename/red-cannon
					 :piece/type :piecetype/cannon
					 :piece/player :player/red}
					{:db/id :piecename/red-chariot
					 :piece/type :piecetype/chariot
					 :piece/player :player/red}
					{:db/id :piecename/red-horse
					 :piece/type :piecetype/horse
					 :piece/player :player/red}
					{:db/id :piecename/red-minister
					 :piece/type :piecetype/elephant
					 :piece/player :player/red}
					{:db/id :piecename/red-guard
					 :piece/type :piecetype/guard
					 :piece/player :player/red}
					{:db/id :piecename/red-marshal
					 :piece/type :piecetype/general
					 :piece/player :player/red}

					{:db/id :piecename/black-private
					 :piece/type :piecetype/soldier
					 :piece/player :player/black}
					{:db/id :piecename/black-catapult
					 :piece/type :piecetype/cannon
					 :piece/player :player/black}
					{:db/id :piecename/black-chariot
					 :piece/type :piecetype/chariot
					 :piece/player :player/black}
					{:db/id :piecename/black-horse
					 :piece/type :piecetype/horse
					 :piece/player :player/black}
					{:db/id :piecename/black-elephant
					 :piece/type :piecetype/elephant
					 :piece/player :player/black}
					{:db/id :piecename/black-guard
					 :piece/type :piecetype/guard
					 :piece/player :player/black}
					{:db/id :piecename/black-general
					 :piece/type :piecetype/general
					 :piece/player :player/black}

					{:location/y 0, :location/x 0, :location/player :player/red, :location/west :location/b1, :location/south :location/a2, :db/id :location/a1}
					{:location/y 1, :location/x 0, :location/north :location/a1, :location/player :player/red, :location/west :location/b2, :location/south :location/a3, :db/id :location/a2}
					{:location/y 2, :location/x 0, :location/north :location/a2, :location/player :player/red, :location/west :location/b3, :location/south :location/a4, :db/id :location/a3}
					{:location/y 3, :location/x 0, :location/north :location/a3, :location/player :player/red, :location/west :location/b4, :location/south :location/a5, :db/id :location/a4}
					{:location/y 4, :location/x 0, :location/north :location/a4, :location/player :player/red, :location/west :location/b5, :location/south :location/a6, :db/id :location/a5}
					{:location/y 5, :location/x 0, :location/north :location/a5, :location/player :player/black, :location/west :location/b6, :location/south :location/a7, :db/id :location/a6}
					{:location/y 6, :location/x 0, :location/north :location/a6, :location/player :player/black, :location/west :location/b7, :location/south :location/a8, :db/id :location/a7}
					{:location/y 7, :location/x 0, :location/north :location/a7, :location/player :player/black, :location/west :location/b8, :location/south :location/a9, :db/id :location/a8}
					{:location/y 8, :location/x 0, :location/north :location/a8, :location/player :player/black, :location/west :location/b9, :location/south :location/a10, :db/id :location/a9}
					{:location/y 9, :location/x 0, :location/north :location/a9, :location/player :player/black, :location/west :location/b10, :db/id :location/a10}
					{:location/y 0, :location/x 1, :location/player :player/red, :location/west :location/c1, :location/south :location/b2, :db/id :location/b1, :location/east :location/a1}
					{:location/y 1, :location/x 1, :location/north :location/b1, :location/player :player/red, :location/west :location/c2, :location/south :location/b3, :db/id :location/b2, :location/east :location/a2}
					{:location/y 2, :location/x 1, :location/north :location/b2, :location/player :player/red, :location/west :location/c3, :location/south :location/b4, :db/id :location/b3, :location/east :location/a3}
					{:location/y 3, :location/x 1, :location/north :location/b3, :location/player :player/red, :location/west :location/c4, :location/south :location/b5, :db/id :location/b4, :location/east :location/a4}
					{:location/y 4, :location/x 1, :location/north :location/b4, :location/player :player/red, :location/west :location/c5, :location/south :location/b6, :db/id :location/b5, :location/east :location/a5}
					{:location/y 5, :location/x 1, :location/north :location/b5, :location/player :player/black, :location/west :location/c6, :location/south :location/b7, :db/id :location/b6, :location/east :location/a6}
					{:location/y 6, :location/x 1, :location/north :location/b6, :location/player :player/black, :location/west :location/c7, :location/south :location/b8, :db/id :location/b7, :location/east :location/a7}
					{:location/y 7, :location/x 1, :location/north :location/b7, :location/player :player/black, :location/west :location/c8, :location/south :location/b9, :db/id :location/b8, :location/east :location/a8}
					{:location/y 8, :location/x 1, :location/north :location/b8, :location/player :player/black, :location/west :location/c9, :location/south :location/b10, :db/id :location/b9, :location/east :location/a9}
					{:location/y 9, :location/x 1, :location/north :location/b9, :location/player :player/black, :location/west :location/c10, :db/id :location/b10, :location/east :location/a10}
					{:location/y 0, :location/x 2, :location/player :player/red, :location/west :location/d1, :location/south :location/c2, :db/id :location/c1, :location/east :location/b1}
					{:location/y 1, :location/x 2, :location/north :location/c1, :location/player :player/red, :location/west :location/d2, :location/south :location/c3, :db/id :location/c2, :location/east :location/b2}
					{:location/y 2, :location/x 2, :location/north :location/c2, :location/player :player/red, :location/west :location/d3, :location/south :location/c4, :db/id :location/c3, :location/east :location/b3}
					{:location/y 3, :location/x 2, :location/north :location/c3, :location/player :player/red, :location/west :location/d4, :location/south :location/c5, :db/id :location/c4, :location/east :location/b4}
					{:location/y 4, :location/x 2, :location/north :location/c4, :location/player :player/red, :location/west :location/d5, :location/south :location/c6, :db/id :location/c5, :location/east :location/b5}
					{:location/y 5, :location/x 2, :location/north :location/c5, :location/player :player/black, :location/west :location/d6, :location/south :location/c7, :db/id :location/c6, :location/east :location/b6}
					{:location/y 6, :location/x 2, :location/north :location/c6, :location/player :player/black, :location/west :location/d7, :location/south :location/c8, :db/id :location/c7, :location/east :location/b7}
					{:location/y 7, :location/x 2, :location/north :location/c7, :location/player :player/black, :location/west :location/d8, :location/south :location/c9, :db/id :location/c8, :location/east :location/b8}
					{:location/y 8, :location/x 2, :location/north :location/c8, :location/player :player/black, :location/west :location/d9, :location/south :location/c10, :db/id :location/c9, :location/east :location/b9}
					{:location/y 9, :location/x 2, :location/north :location/c9, :location/player :player/black, :location/west :location/d10, :db/id :location/c10, :location/east :location/b10}
					{:location/y 0, :location/x 3, :location/player :player/red, :location/palace true, :location/west :location/e1, :location/south :location/d2, :db/id :location/d1, :location/east :location/c1}
					{:location/y 1, :location/x 3, :location/north :location/d1, :location/player :player/red, :location/palace true, :location/west :location/e2, :location/south :location/d3, :db/id :location/d2, :location/east :location/c2}
					{:location/y 2, :location/x 3, :location/north :location/d2, :location/player :player/red, :location/palace true, :location/west :location/e3, :location/south :location/d4, :db/id :location/d3, :location/east :location/c3}
					{:location/y 3, :location/x 3, :location/north :location/d3, :location/player :player/red, :location/west :location/e4, :location/south :location/d5, :db/id :location/d4, :location/east :location/c4}
					{:location/y 4, :location/x 3, :location/north :location/d4, :location/player :player/red, :location/west :location/e5, :location/south :location/d6, :db/id :location/d5, :location/east :location/c5}
					{:location/y 5, :location/x 3, :location/north :location/d5, :location/player :player/black, :location/west :location/e6, :location/south :location/d7, :db/id :location/d6, :location/east :location/c6}
					{:location/y 6, :location/x 3, :location/north :location/d6, :location/player :player/black, :location/west :location/e7, :location/south :location/d8, :db/id :location/d7, :location/east :location/c7}
					{:location/y 7, :location/x 3, :location/north :location/d7, :location/player :player/black, :location/palace true, :location/west :location/e8, :location/south :location/d9, :db/id :location/d8, :location/east :location/c8}
					{:location/y 8, :location/x 3, :location/north :location/d8, :location/player :player/black, :location/palace true, :location/west :location/e9, :location/south :location/d10, :db/id :location/d9, :location/east :location/c9}
					{:location/y 9, :location/x 3, :location/north :location/d9, :location/player :player/black, :location/palace true, :location/west :location/e10, :db/id :location/d10, :location/east :location/c10}
					{:location/y 0, :location/x 4, :location/player :player/red, :location/palace true, :location/west :location/f1, :location/south :location/e2, :db/id :location/e1, :location/east :location/d1}
					{:location/y 1, :location/x 4, :location/north :location/e1, :location/player :player/red, :location/palace true, :location/west :location/f2, :location/south :location/e3, :db/id :location/e2, :location/east :location/d2}
					{:location/y 2, :location/x 4, :location/north :location/e2, :location/player :player/red, :location/palace true, :location/west :location/f3, :location/south :location/e4, :db/id :location/e3, :location/east :location/d3}
					{:location/y 3, :location/x 4, :location/north :location/e3, :location/player :player/red, :location/west :location/f4, :location/south :location/e5, :db/id :location/e4, :location/east :location/d4}
					{:location/y 4, :location/x 4, :location/north :location/e4, :location/player :player/red, :location/west :location/f5, :location/south :location/e6, :db/id :location/e5, :location/east :location/d5}
					{:location/y 5, :location/x 4, :location/north :location/e5, :location/player :player/black, :location/west :location/f6, :location/south :location/e7, :db/id :location/e6, :location/east :location/d6}
					{:location/y 6, :location/x 4, :location/north :location/e6, :location/player :player/black, :location/west :location/f7, :location/south :location/e8, :db/id :location/e7, :location/east :location/d7}
					{:location/y 7, :location/x 4, :location/north :location/e7, :location/player :player/black, :location/palace true, :location/west :location/f8, :location/south :location/e9, :db/id :location/e8, :location/east :location/d8}
					{:location/y 8, :location/x 4, :location/north :location/e8, :location/player :player/black, :location/palace true, :location/west :location/f9, :location/south :location/e10, :db/id :location/e9, :location/east :location/d9}
					{:location/y 9, :location/x 4, :location/north :location/e9, :location/player :player/black, :location/palace true, :location/west :location/f10, :db/id :location/e10, :location/east :location/d10}
					{:location/y 0, :location/x 5, :location/player :player/red, :location/palace true, :location/west :location/g1, :location/south :location/f2, :db/id :location/f1, :location/east :location/e1}
					{:location/y 1, :location/x 5, :location/north :location/f1, :location/player :player/red, :location/palace true, :location/west :location/g2, :location/south :location/f3, :db/id :location/f2, :location/east :location/e2}
					{:location/y 2, :location/x 5, :location/north :location/f2, :location/player :player/red, :location/palace true, :location/west :location/g3, :location/south :location/f4, :db/id :location/f3, :location/east :location/e3}
					{:location/y 3, :location/x 5, :location/north :location/f3, :location/player :player/red, :location/west :location/g4, :location/south :location/f5, :db/id :location/f4, :location/east :location/e4}
					{:location/y 4, :location/x 5, :location/north :location/f4, :location/player :player/red, :location/west :location/g5, :location/south :location/f6, :db/id :location/f5, :location/east :location/e5}
					{:location/y 5, :location/x 5, :location/north :location/f5, :location/player :player/black, :location/west :location/g6, :location/south :location/f7, :db/id :location/f6, :location/east :location/e6}
					{:location/y 6, :location/x 5, :location/north :location/f6, :location/player :player/black, :location/west :location/g7, :location/south :location/f8, :db/id :location/f7, :location/east :location/e7}
					{:location/y 7, :location/x 5, :location/north :location/f7, :location/player :player/black, :location/palace true, :location/west :location/g8, :location/south :location/f9, :db/id :location/f8, :location/east :location/e8}
					{:location/y 8, :location/x 5, :location/north :location/f8, :location/player :player/black, :location/palace true, :location/west :location/g9, :location/south :location/f10, :db/id :location/f9, :location/east :location/e9}
					{:location/y 9, :location/x 5, :location/north :location/f9, :location/player :player/black, :location/palace true, :location/west :location/g10, :db/id :location/f10, :location/east :location/e10}
					{:location/y 0, :location/x 6, :location/player :player/red, :location/west :location/h1, :location/south :location/g2, :db/id :location/g1, :location/east :location/f1}
					{:location/y 1, :location/x 6, :location/north :location/g1, :location/player :player/red, :location/west :location/h2, :location/south :location/g3, :db/id :location/g2, :location/east :location/f2}
					{:location/y 2, :location/x 6, :location/north :location/g2, :location/player :player/red, :location/west :location/h3, :location/south :location/g4, :db/id :location/g3, :location/east :location/f3}
					{:location/y 3, :location/x 6, :location/north :location/g3, :location/player :player/red, :location/west :location/h4, :location/south :location/g5, :db/id :location/g4, :location/east :location/f4}
					{:location/y 4, :location/x 6, :location/north :location/g4, :location/player :player/red, :location/west :location/h5, :location/south :location/g6, :db/id :location/g5, :location/east :location/f5}
					{:location/y 5, :location/x 6, :location/north :location/g5, :location/player :player/black, :location/west :location/h6, :location/south :location/g7, :db/id :location/g6, :location/east :location/f6}
					{:location/y 6, :location/x 6, :location/north :location/g6, :location/player :player/black, :location/west :location/h7, :location/south :location/g8, :db/id :location/g7, :location/east :location/f7}
					{:location/y 7, :location/x 6, :location/north :location/g7, :location/player :player/black, :location/west :location/h8, :location/south :location/g9, :db/id :location/g8, :location/east :location/f8}
					{:location/y 8, :location/x 6, :location/north :location/g8, :location/player :player/black, :location/west :location/h9, :location/south :location/g10, :db/id :location/g9, :location/east :location/f9}
					{:location/y 9, :location/x 6, :location/north :location/g9, :location/player :player/black, :location/west :location/h10, :db/id :location/g10, :location/east :location/f10}
					{:location/y 0, :location/x 7, :location/player :player/red, :location/west :location/i1, :location/south :location/h2, :db/id :location/h1, :location/east :location/g1}
					{:location/y 1, :location/x 7, :location/north :location/h1, :location/player :player/red, :location/west :location/i2, :location/south :location/h3, :db/id :location/h2, :location/east :location/g2}
					{:location/y 2, :location/x 7, :location/north :location/h2, :location/player :player/red, :location/west :location/i3, :location/south :location/h4, :db/id :location/h3, :location/east :location/g3}
					{:location/y 3, :location/x 7, :location/north :location/h3, :location/player :player/red, :location/west :location/i4, :location/south :location/h5, :db/id :location/h4, :location/east :location/g4}
					{:location/y 4, :location/x 7, :location/north :location/h4, :location/player :player/red, :location/west :location/i5, :location/south :location/h6, :db/id :location/h5, :location/east :location/g5}
					{:location/y 5, :location/x 7, :location/north :location/h5, :location/player :player/black, :location/west :location/i6, :location/south :location/h7, :db/id :location/h6, :location/east :location/g6}
					{:location/y 6, :location/x 7, :location/north :location/h6, :location/player :player/black, :location/west :location/i7, :location/south :location/h8, :db/id :location/h7, :location/east :location/g7}
					{:location/y 7, :location/x 7, :location/north :location/h7, :location/player :player/black, :location/west :location/i8, :location/south :location/h9, :db/id :location/h8, :location/east :location/g8}
					{:location/y 8, :location/x 7, :location/north :location/h8, :location/player :player/black, :location/west :location/i9, :location/south :location/h10, :db/id :location/h9, :location/east :location/g9}
					{:location/y 9, :location/x 7, :location/north :location/h9, :location/player :player/black, :location/west :location/i10, :db/id :location/h10, :location/east :location/g10}
					{:location/y 0, :location/x 8, :location/player :player/red, :location/south :location/i2, :db/id :location/i1, :location/east :location/h1}
					{:location/y 1, :location/x 8, :location/north :location/i1, :location/player :player/red, :location/south :location/i3, :db/id :location/i2, :location/east :location/h2}
					{:location/y 2, :location/x 8, :location/north :location/i2, :location/player :player/red, :location/south :location/i4, :db/id :location/i3, :location/east :location/h3}
					{:location/y 3, :location/x 8, :location/north :location/i3, :location/player :player/red, :location/south :location/i5, :db/id :location/i4, :location/east :location/h4}
					{:location/y 4, :location/x 8, :location/north :location/i4, :location/player :player/red, :location/south :location/i6, :db/id :location/i5, :location/east :location/h5}
					{:location/y 5, :location/x 8, :location/north :location/i5, :location/player :player/black, :location/south :location/i7, :db/id :location/i6, :location/east :location/h6}
					{:location/y 6, :location/x 8, :location/north :location/i6, :location/player :player/black, :location/south :location/i8, :db/id :location/i7, :location/east :location/h7}
					{:location/y 7, :location/x 8, :location/north :location/i7, :location/player :player/black, :location/south :location/i9, :db/id :location/i8, :location/east :location/h8}
					{:location/y 8, :location/x 8, :location/north :location/i8, :location/player :player/black, :location/south :location/i10, :db/id :location/i9, :location/east :location/h9}
					{:location/y 9, :location/x 8, :location/north :location/i9, :location/player :player/black, :db/id :location/i10, :location/east :location/h10}
					]
				 [[:db/add :board/starting :board/ident-218 133533018309899709564525504784527298902009500465768741687617263177N]]]}
 }